---
---

@import "{{ site.theme }}";

#downloads {
    display: none;
}

h1#citation-saver {
    display: none;
}

ol, ul {
	padding-left: 18px;
	font-weight: 300;
}

ul li {
	padding-left: 0;
	line-height: 2em;
}

footer {
  display: none;
}

#container {
    padding-bottom: 50px;
}

.ad-unit {
    text-align: center;
}
.ad-unit div {
    font-size: 9px;
    text-transform: uppercase;
}

.ad-unit iframe {
    width: 728px;
    height: 90px;
}