---
---

@import "{{ site.theme }}";

.inner {
    width: 728px;
    max-width: 90vw;
}

#downloads {
    display: none;
}

h1#citation-saver, header h2 {
    display: none;
}

ol, ul {
	padding-left: 18px;
	font-weight: 300;
}

ul li {
	padding-left: 0;
	line-height: 2em;
}

footer {
  display: none;
}

#container {
    padding-bottom: 50px;
}

.ad-unit {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
}
.ad-unit div {
    font-size: 9px;
    text-transform: uppercase;
    padding-bottom: .5em;
}

.ad-unit iframe {
    width: 728px;
    height: 90px;
}